# EditorConfig: http://editorconfig.org/

root = true

[*]
insert_final_newline = true

[*.txt]
charset = utf-8

[*.java]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.rst]
max_line_length = 80
