.DS_Store
.classpath
.project
.settings
.floo
.flooignore
*~
.gradle
*build/
/out
/sandbox
/docs/eggs
/docs/out
/docs/clients/out
/reports
config/logging.yml

# intellij files
.idea/
*.iml
*.ipr
*.iws
build-idea/
