# OS files
.DS_Store
.floo
.flooignore
*~

# Java files
.classpath
.project
.settings
.gradle/
build/

# intellij files
.idea/
build-idea/
test-output/
reports/
*.iml
*.ipr
*.iws

# Python files
__pycache__/
eggs/
parts/
develop-eggs/
tmp/
.installed.cfg
.venv/
*.pyc
*.pyo

# app files
app/data/
app/logs/

# Docs
_out/

# Single files and directories
app/enterprise/
app/oss_modules/
app/plugins/
app/adminui/
app/src/main/dist/bin/crate.bat
app/src/main/dist/bin/crate.in.sh
app/src/main/resources/crate-build.properties
blackbox/get-pip.py
blackbox/sqllogic.log
sql-parser/src/main/java/io/crate/sql/parser/antlr/
sandbox/crate/data/
