version: 1.0.{build}
branches:
  only:
  - master

environment:
    JAVA_OPTS: -Xmx2g
    CRATE_TESTS_SQL_REQUEST_TIMEOUT: 20
    GRADLE_OPTS: -Dorg.gradle.daemon=false

build_script:
- cmd: >-
    git submodule update --init -- es/upstream

    gradlew.bat --quiet compileJava
test_script:
- cmd: gradlew.bat :sql:test
