@import "bootstrap-sass/lib/bootstrap";

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.navbar .nav > li {
    line-height: 45px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.cluster-state {
  margin-top:  10px;
  margin-right:  10px;
  line-height: 40px;
  border-radius: 20px;
  font-size: 18px;
}

.versions {
  margin-top:  6px;
}

.versions .table {
  margin-bottom: 0;
}

.versions td {
  border: none;
  padding: 4px 0 0 10px;
}