// Typography
// -------------------------
@font-face {
  font-family: BlenderPro;
  src: url('@{font-path}/blender/BlenderPro-ThinWeb.eot');
  src: url('@{font-path}/blender/BlenderPro-ThinWeb.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}/blender/BlenderPro-ThinWeb.woff') format('woff'),
    url('@{font-path}/blender/BlenderPro-Thin.ttf') format('truetype');
}

@font-face {
  font-family: BlenderPro;
  src: url('@{font-path}/blender/BlenderPro-BoldWeb.eot');
  src: url('@{font-path}/blender/BlenderPro-BoldWeb.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}/blender/BlenderPro-BoldWeb.woff') format('woff'),
    url('@{font-path}/blender/BlenderPro-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: SourceCodePro;
  src: url('@{font-path}/SourceCodePro/SourceCodePro-Light.eot');
  src: url('@{font-path}/SourceCodePro/SourceCodePro-Light.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}/SourceCodePro/SourceCodePro-Light.otf.woff') format('woff');
}

@font-face {
  font-family: SourceCodePro;
  src: url('@{font-path}/SourceCodePro/SourceCodePro-Regular.eot');
  src: url('@{font-path}/SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}/SourceCodePro/SourceCodePro-Regular.otf.woff') format('woff');
  font-weight: bold;
}