/*
 * Licensed to CRATE Technology GmbH ("Crate") under one or more contributor
 * license agreements.  See the NOTICE file distributed with this work for
 * additional information regarding copyright ownership.  Crate licenses
 * this file to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.  You may
 * obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations
 * under the License.
 *
 * However, if you have executed any another commercial license agreement
 * with Crate these terms will supersede the license and you may use the
 * software solely pursuant to the terms of the relevant commercial agreement.
 */

// Typography
// -------------------------
@font-face {
  font-family: BlenderPro;
  src: url('@{font-path}/blender/BlenderPro-ThinWeb.eot');
  src: url('@{font-path}/blender/BlenderPro-ThinWeb.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}/blender/BlenderPro-ThinWeb.woff') format('woff'),
    url('@{font-path}/blender/BlenderPro-Thin.ttf') format('truetype');
}

@font-face {
  font-family: BlenderPro;
  src: url('@{font-path}/blender/BlenderPro-BoldWeb.eot');
  src: url('@{font-path}/blender/BlenderPro-BoldWeb.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}/blender/BlenderPro-BoldWeb.woff') format('woff'),
    url('@{font-path}/blender/BlenderPro-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: SourceCodePro;
  src: url('@{font-path}/SourceCodePro/SourceCodePro-Light.eot');
  src: url('@{font-path}/SourceCodePro/SourceCodePro-Light.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}/SourceCodePro/SourceCodePro-Light.otf.woff') format('woff');
}

@font-face {
  font-family: SourceCodePro;
  src: url('@{font-path}/SourceCodePro/SourceCodePro-Regular.eot');
  src: url('@{font-path}/SourceCodePro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
    url('@{font-path}/SourceCodePro/SourceCodePro-Regular.otf.woff') format('woff');
  font-weight: bold;
}