@import "../bower_components/bootstrap/less/bootstrap";
@import "path";
@import "variables";
@import "bootswatch";
@import "../bower_components/bootstrap/less/utilities";

iframe {
    position: absolute;
    top: 68px;
    bottom: 0px;
    height: 600px;
    width: 100%;
}