@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@FontAwesomePath:   "../bower_components/font-awesome/fonts";


html, body {
	min-height: 100%;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

iframe {
	position: absolute;
	top: 68px;
	bottom: 0px;
	height: 400px;
}

.navbar .nav > li {
    line-height: 45px;
}

.navbar-static-top {
    margin-bottom: 25px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.cluster-state {
  margin-top:  10px;
  margin-right:  10px;
  line-height: 40px;
  font-size: 18px;
}

.versions {
  margin-top:  6px;
}

.versions .table {
  margin-bottom: 0;
}

.versions td {
  border: none;
  padding: 4px 0 0 10px;
}

.sidebar {
  padding: 8px 0;
}
