# packages for RTD to pick up (not used for local dev)
crate-docs-theme>=0.12.0
sphinx-csv-filter
Pygments>=2.7.4,<3

# docutils 0.21 currently has problems with the `sphinx-csv-filter` addon.
# In crate/crate, appendices/compliance.rst:6, an exception is raised:
# ERROR: One or more indexes of included_cols are not valid. The CSV data
# does not contain that many columns. [docutils]
# https://github.com/crate/sphinx_csv_filter/issues/52
docutils<0.21
