alabaster==0.7.8
appdirs==1.4.0
Babel==2.3.4
colorama==0.3.7
crash==0.17.0
crate==0.16.0
crate-docs-theme==0.5.13
sphinx-csv-filter==0.1.0
docutils==0.12
imagesize==0.7.1
Jinja2==2.8
MarkupSafe==0.23
prompt-toolkit==0.57
Pygments==2.1.3
pytz==2016.4
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.4
sphinxcontrib-plantuml==0.8.1
urllib3==1.16
wcwidth==0.1.6
zc.customdoctests==1.0.1
zope.exceptions==4.0.8
zope.interface==4.2.0
zope.testrunner==4.5.0
