---
name: CrateDB Docs
on:
  pull_request:
    paths:
      - '**.rst'
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  checks: write
  statuses: write

jobs:
  vale:
    name: Vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install docutils
        run: sudo apt-get install -y docutils

      - name: Run vale
        uses: errata-ai/vale-action@v2.1.1
        with:
          files: docs/
          version: 3.12.0
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
