---
name: CrateDB SQL
on:
  pull_request:
    paths:
      - '**.java'
      - '**.gradle'
      - 'gradle/version.properties'
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test CrateDB SQL on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Setup Gradle Java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Run tests on ${{ matrix.os }}
        uses: gradle/gradle-build-action@v2
        env:
          CRATE_TESTS_SQL_REQUEST_TIMEOUT: "20"
        with:
          arguments: :server:test --tests "io.crate.integrationtests.MetadataTrackerITest" -Dtests.crate.run-windows-incompatible=true


  forbiddenApis:
    name: forbiddenApisMain
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Gradle Java
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Run forbiddenApisMain
        run: |
          ./gradlew forbiddenApisMain

  checkstyle:
    name: checkstyle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Gradle Java
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Run checkstyle
        run: |
          ./gradlew checkstyleMain checkstyleTest checkstyleTestFixtures
