---
name: Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'


permissions:
  contents: read
  checks: write
  statuses: write

jobs:
  test:
    name: Test CrateDB SQL on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup Maven Java
        uses: actions/setup-java@v5
        with:
          java-version: "24.0.2"
          distribution: "temurin"
          cache: maven

      - name: Run tests on ${{ matrix.os }}
        env:
          CRATE_TESTS_SQL_REQUEST_TIMEOUT: "20"
        run: mvn "-Dtests.crate.run-windows-incompatible=false" "-Dcheckstyle.skip" test
