---
name: Nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  test:
    name: Test CrateDB SQL on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Maven Java
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Run tests on ${{ matrix.os }}
        env:
          CRATE_TESTS_SQL_REQUEST_TIMEOUT: "20"
        run: mvn test -Dtests.crate.run-windows-incompatible=false -Dcheckstyle.skip
